.minesweeper {
  padding: 4px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  background-color: rgb(71, 116, 101);
}
.unit {
  width: 25px;
  height: 25px;
  &_closed {
    cursor: pointer;
    background-color: rgb(19, 189, 19);
  }
  &_empty {
    background-color: rgb(9, 77, 9);
  }
  &_bomb {
    background: url('./assets/icons/test_bomb.svg') no-repeat center;
    background-size: 80%;
    background-color: rgb(235, 194, 12);
  }
  &:hover {
    background-color: rgb(16, 99, 16);
  }
}
